#* @jenkinsci/sample-plugin-developers
* @jsupun/keeper-secrets-manager-plugin-developers
* @jwalstra-keeper/keeper-secrets-manager-plugin-developers
* @maksimu/keeper-secrets-manager-plugin-developers
* @idimov-keeper/keeper-secrets-manager-plugin-developers
* @saldoukhov/keeper-secrets-manager-plugin-developers
